.banner{
    color:white;
    object-fit: contain;
    height: 400px;
}

.banner_contents{
margin-left: 50px;
padding-top:100px;
height:150px;
}

.banner_description{
    width:45rem;
    font-size: 1.1rem;
    max-width: 600px;
    height:100px;
}

.banner_btn{
    color:white;
    outline:none;
    font-weight: 500;
    opacity:0.7;
    border:none;
    background-color: rgb(126, 118, 106);
    border-radius: 3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right:1.5rem;
    margin-bottom:1rem;
    margin-top: 1rem;
}
.banner_btn:hover{
    color:#000;
    background-color:wheat;
}